.hiddenSlider{
  transform: translate3d(0,100%,0) !important;
}
.hiddenNavbar{
  position: absolute !important;
  transform: translate3d(0,-100%,0) !important;
}
#navbar{
  position: sticky;
  padding: 10px 15px;
  box-sizing: border-box;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background : #f0f0f0;
  width: 100%;
  min-height: 42px;
  transition: all ease .375s;
}

#navbar .text{
  color: #000000;
  margin: 3px 0 5px;
}

#navbar .form{
  position: relative;
}
#navbar .form input{
  box-sizing: border-box;
  border: 1px inset #f0f0f0;
  border-radius: 3px;
  height: 30px;
}
#navbar .form input::placeholder{
  padding: 0 5px;
}
#navbar .form button{
  background : #e66853;
  color: #ffffff;
  border: 1px solid transparent;
  border-radius: 3px;
  height: 30px;
  padding: 0 15px;
  font-size: 0.9em;
  box-sizing: border-box;
  font-weight: 300;
}

#slider-ads{
  position: fixed;
  padding: 10px 15px;
  box-sizing: border-box;
  bottom: 0;
  background: #f0f0f0;
  width: 100%;
  transition: all ease .375s;
  transform: translate3d(0,0,0);
}
#slider-ads .title{

}
#slider-ads .content{

}
#slider-ads .form{
  position: relative;
}
#slider-ads .form input{

}
#slider-ads .form button{

}
#slide-ads .supported{

}
.cross {
  position: absolute;
  top: 5%;
  right: 10px;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .hiddenSlider{
    transform: translate3d(-100%,0,0) !important;
  }
  #navbar{
    flex-direction: row;
  }
  #navbar .text{
    margin: 0 10px;
  }
  #navbar .form .cross{
    display: none;
  }
  #slider-ads{
    width: 50%;
  }
}
